body {
    background: #f1f1f1;
    font-family: "Cairo", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calc-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    background: #e0e0e0;
    border-radius: 10px;
}

button:active {
    background: #d2d2d2;
}

.op {
    background: #ffa726;
    color: white;
}

#equal {
    background: #66bb6a;
    color: white;
}

#clear {
    grid-column: span 4;
    background: #ef5350;
    color: white;
}
