body {
    background: #f2f2f2;
    text-align: center;
    font-family: sans-serif;
}

#display {
    width: 80%;
    height: 50px;
    font-size: 24px;
    margin-top: 20px;
}

.buttons button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 22px;
}